html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 130px;

  box-sizing: border-box;
}

.main-header {
  margin-bottom: 45px;
  padding-top: 73px;
}

.main-header-nav {
  display: flex;
  flex-direction: column;
}

.site-logo {
  width: 347px;
  margin: 0 auto;
  margin-bottom: 40px;

  text-align: center;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 5px;

  list-style: none;
}

.site-navigation-link {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.headline {
  position: relative;

  max-width: 1440px;
  margin: 0 auto;
}

.headline::before {
  content: '';

  position: absolute;
  top: 47px;
  left: calc(50% - 27px);

  width: 55px;
  height: 55px;

  background-image: url("../img/hotel-icon.svg");
}

.headline-title {
  position: absolute;
  top: 135px;
  left: calc(50% - 370px);

  margin: 0;
}

.headline-title-link {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.headline-image {
  display: block;
}

.headline-description {
  position: absolute;
  top: 350px;
  left: calc(50% - 230px);

  max-width: 459px;
  margin: 0;

  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
